
# Vector DB settings
CHROMA_PERSIST_DIRECTORY=

# Server settings
HOST=0.0.0.0
PORT=8000

# File storage
UPLOAD_FOLDER=
PROCESSED_FOLDER=

# Serp API Key
SERPAPI_KEY=

# Scrapfly API Key
SCRAPFLY_KEY=

# Embedding model path
EMBEDDING_MODEL_PATH=